ul,
ol,
li {
	list-style: none;
}
.mainRight{
	margin-top: 20px;
}
.mainRight .pwdnav {
	float: left;
	width: 290px;
	height: 60px;
	line-height: 60px;
	background-color: #e4e5e5;
}

.mainRight .pwdnav img {
	margin-left: 40px;
	margin-right: 15px;
}

.mainRight .pwdnav span {
	font-size: 18px;
}

.mainRight .yin {
	float: left;
	display: inline-grid;
}

.mainRight .pro {
	width: 840px;
	background: white;
	padding-bottom: 30px;
}

.mainRight .pro .proTop p {
	margin-left: 40px;
	margin-bottom: 20px;
	padding: 30px 0px 10px 0px;
	width: 760px;
	margin: 0 auto;
	text-align: left;
	border-bottom: 1px solid #003366;
}

.mainRight .pro .proMain .proUl {
	margin-left: 40px;
}

.w_proPage .w_proFirst .w_proPages .w_ys {
	display: block;
	width: 40px;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
}

.w_proLast {
	float: left;
}

.w_proLast span {
	color: #666;
}

.mainRight .pro .proMain .proUl .proli {
	width: 800px;
	padding: 25px 0px 25px 0px;
	position: relative;
}

.mainRight .pro .proMain .proUl .proli .proLeft,
.mainRight .pro .proMain .proUl .proli .proCen {
	display: inline-block;
	float: left;
}

.mainRight .pro .proMain .proUl .proli .proLeft {
	width: 130px;
	height: 130px;
	border: 1px solid #dddddd;
	text-align: center;
	line-height: 130px;
	vertical-align: middle;
}
.mainRight .pro .proMain .proUl .proli .proLeft img{
	max-height: 130px;
	max-width: 130px;
	text-align: center;
	line-height: 130px;
	vertical-align: middle;
}
.mainRight .pro .proMain .proUl .proli .proCen {
	margin-left: 15px;
}

.mainRight .pro .proMain .proUl .proli .proCen .proxm {
	margin-bottom: 5px;
	margin-top: 0px;
}

.mainRight .pro .proMain .proUl .proli .proCen .proxm .xmmc {
	font-size: 18px;
}

.mainRight .pro .proMain .proUl .proli .proCen .proxm .ca {
	text-align: center;
	line-height: 20px;
	display: inline-block;
	width: 40px;
	height: 20px;
	font-size: 14px;
	color: white;
	background: #a8a8a8;
}

.mainRight .pro .proMain .proUl .proli .proCen .proxm .zt {
	text-align: center;
	line-height: 20px;
	height: 20px;
	font-size: 14px;
	color: white;
	background: #f00;
	padding-left: 5px;
	padding-right: 5px;
}

.mainRight .pro .proMain .proUl .proli .proCen .protg {
	margin-bottom: 15px;
}

.mainRight .pro .proMain .proUl .proli .proCen .protg .wz {
	color: #3f5a7f;
}

.mainRight .pro .proMain .proUl .proli .proCen .proID {
	color: #d0d0d0;
}

.mainRight .pro .proMain .proUl .proli .proCen .w_proDiss {
	font-size: 11px;
	color: #666;
	font-family: "microsoft yahei";
}

.mainRight .pro .proMain .proUl .proli .proCen .w_proDiss span {
	color: #f00;
}

.mainRight .pro .proMain .proUl .proli .proRight {
	float: right;
	margin-right: 50px;
}

.mainRight .pro .proMain .proUl .proli .proRight .probox .procz {
	cursor: pointer;
	border: 1px solid #dddddd;
	line-height: 30px;
	text-align: center;
	overflow: hidden;
}

.mainRight .pro .proMain .proUl .proli .proRight .probox .procz img {
	margin-left: 20px;
}

.mainRight .pro .proMain .proUl .proli .proRight .probox .procz .proOl {
	background: "#ddd";
	text-align: center;
	margin-left: -40px;
	background: #D0D0D0;
	display: none;
	cursor: pointer;
}

.mainRight .pro .proMain .proUl .proli .proRight .probox .w_tjsh {
	width: 82px;
	height: 30px;
	background: #003366;
	color: white;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	margin-top: 10px;
	cursor: pointer;
	outline: none;
	border: none;
	display: block;
}
.mainRight .pro .proMain .proUl .proli .proRight .probox .sqtb{
	height: 30px;
	font-size: 12px;
	background: #003366;
	color: white;
	text-align: center;
	line-height: 30px;
	margin-top: 10px;
	cursor: pointer;
	outline: none;
	border: none;
	min-width: 82px;
}
.mainRight .pro .proMain .sqtbTc{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.mainRight .pro .proMain .sqtbTc .w_sqtbk{
	 position: absolute;
      left: 50%;
      top: 50%;
      width: 400px;
      margin-left: -220px;
      margin-top: -100px;
      text-align: center;
      background: white;
      border-radius: 10px;
      box-shadow: 2px 2px 16px 5px #ddd;
}
.mainRight .pro .proMain .sqtbTc .w_sqtbk p{
	margin-top: 60px;
}
 .mainRight .pro .proMain .sqtbTc .w_sqtbk button{
 	    width: 130px;
        height: 45px;
        outline: none;
        border: none;
        background: darkturquoise;
        border-radius: 10px;
        color: white;
        margin-top: 40px;
        margin-bottom: 50px;
        cursor: pointer;
 }
  .mainRight .pro .proMain .w_cs {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000); }
    .mainRight .pro .proMain .w_cs .w_prozz {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 400px;
      margin-left: -220px;
      margin-top: -100px;
      text-align: center;
      background: white;
      border-radius: 10px;
      box-shadow: 2px 2px 16px 5px #ddd;
      filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color="#333333"); }
      .mainRight .pro .proMain .w_cs .w_prozz p {
        margin-top: 60px; }
      .mainRight .pro .proMain .w_cs .w_prozz button {
        width: 130px;
        height: 45px;
        outline: none;
        border: none;
        background: darkturquoise;
        border-radius: 10px;
        color: white;
        margin-top: 40px;
        margin-bottom: 50px; }
      .mainRight .pro .proMain .w_cs .w_prozz .w_peoqr {
        margin-left: 30px; }

 .mainRight .pro .proMain .w_zhe {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000); }
    .mainRight .pro .proMain .w_zhe .w_submittk {
      position: absolute;
      left: 25%;
      top: 34%;
      width: 450px;
      height: 207px;
      background: white;
      border-radius: 10px;
      margin: auto;
      z-index: 333;
      box-shadow: 2px 2px 16px 5px #ddd;
      filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color="#333333"); }
      .mainRight .pro .proMain .w_zhe .w_submittk .w_tx {
        margin: 50px 70px 30px 70px;
        text-align: center; }
      .mainRight .pro .proMain .w_zhe .w_submittk button {
        width: 90px;
        height: 35px;
        text-align: center;
        outline: none;
        border: none;
        color: white;
        border-radius: 5px;
        margin: auto;
        cursor: pointer; }
      .mainRight .pro .proMain .w_zhe .w_submittk .w_qx {
        background: #06c5d2;
        margin-left: 115px; }
      .mainRight .pro .proMain .w_zhe .w_submittk .w_qr {
        border: 1px solid #06C5D2;
        background: white;
        color: #06C5D2;
        margin-left: 20px; }

.del {
	margin-top: 10px;
	font-size: 12px;
	color: red;
}

.hr {
	margin-right: 37px;
	border: 0px;
	border-bottom: 1px dashed #ccc;
}

.w_pinglun {
	background: white;
	padding-bottom: 30px;
}

.w_pinglun .proTopq p {
	margin-left: 40px;
	margin-bottom: 20px;
	padding: 30px 0px 10px 0px;
	width: 760px;
	margin: 0 auto;
	text-align: left;
	border-bottom: 1px solid #003366;
}

.w_pinglun .pingMain>ul {
	margin-bottom: 30px;
}

.w_pinglun .pingMain>ul>li {
	margin-top: 50px;
}

.w_pinglun .pingMain>ul>li .w_plLeft {
	float: left;
	margin-right: 20px;
	margin-top: 50px;
}

.w_pinglun .pingMain>ul>li .w_plLeft img {
	width: 80px;
	height: 80px;
}

.w_pinglun .pingMain>ul>li .w_plRight {
	border-radius: 10px;
	float: left;
	width: 650px;
	background: #eee;
	position: relative;
}

.w_pinglun .pingMain>ul>li .w_plRight .w_rigBox .w_ding {
	position: absolute;
	left: -16px;
	top: 80px;
}

.w_pinglun .pingMain>ul>li .w_plRight .w_rigBox .w_plBox {
	margin-left: 30px;
	margin-right: 30px;
}

.w_pinglun .pingMain>ul>li .w_plRight .w_rigBox .w_plBox .w_plName {
	margin-top: 10px;
}

.w_pinglun .pingMain>ul>li .w_plRight .w_rigBox .w_plBox .w_plName .w_plbear {
	float: left;
	color: #333;
	font-size: 16px;
}

.w_pinglun .pingMain>ul>li .w_plRight .w_rigBox .w_plBox .w_plName .w_plTime {
	float: right;
	color: #666;
	font-size: 12px;
}

.w_pinglun .pingMain>ul>li .w_plRight .w_rigBox .w_plBox .w_plXian {
	border-color: #ddd;
}

.w_pinglun .pingMain>ul>li .w_plRight .w_rigBox .w_plBox p {
	margin: 0px;
	margin-top: 20px;
	font-size: 13px;
	color: #333;
	line-height: 30px;
}

.w_pinglun .pingMain>ul>li .w_plRight .w_rigBox .w_plBox .w_plBtn {
	width: 60px;
	height: 25px;
	border-radius: 5px;
	outline: none;
	border: none;
	color: white;
	margin-bottom: 30px;
	margin-right: 10px;
	margin-top: 20px;
}

.w_pinglun .pingMain>ul>li .w_plRight .w_rigBox .w_plBox .w_color {
	background: #003366;
}

.w_pinglun .pingMain>ul>li .w_plRight .w_rigBox .w_plBox .w_ccolor {
	color: #666;
	background: #eee;
}

.w_pinglun .pingMain>ul>li .w_plRight .w_rigBox .w_plBox .w_col {
	background: #f00;
}

.w_pinglun .pingMain .w_proPage {
	margin-left: 50px;
}

.w_pinglun .pingMain .w_proPage .w_proFirst {
	float: left;
}

.w_pinglun .pingMain .w_proPage .w_proFirst .w_proPages .w_ys {
	text-decoration: none;
	color: black;
	float: left;
	border: 1px solid #ddd;
	/*padding: 5px 15px;*/
	margin-right: 10px;
}

.w_pinglun .pingMain .w_proPage .w_proFirst .w_proPages .active {
	background: #003366;
	color: white;
}

.w_pinglun .pingMain .w_proPage .w_proLast {
	float: right;
	margin-top: 20px;
	margin-right: 50px;
	font-size: 14px;
	color: #ddd;
}

.w_proFen {
	width: 740px;
	margin: auto;
	margin-bottom: 20px;
}
.w_proFen .w_feMain{
	float: left;
}
.w_proFen .w_feMain .w_proFirst .w_proPages{
	padding: 0;
}
.w_proFen .w_feMain .w_proFirst .w_proPages .w_ys{
	float: left;
	margin-right: 10px;
	border: 1px solid black;
	width: 40px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	border-radius: 5px;
}

.w_proFen .w_feMain .w_proFirst .w_proPages a{
	text-decoration: none;
}
.w_proFen .w_proLastt{
	float: right;
	color: #666;
	font-size: 14px;
	margin-right: 24px;
}

.active{
	background: #003366;
	color: white;
}

.prodel{
	outline: none;
	border: none;
	background: #D0D0D0;
	font-size: 16px;
	cursor: pointer;
}
.w_bj{
	display: block;
	outline: none;
	border: none;
	background: #D0D0D0;
	font-size: 16px;
	cursor: pointer;
	margin: auto;
}
.w_proqx,.w_peoqr{
	cursor: pointer;
}
/*# sourceMappingURL=project.css.map */