@charset "utf-8";
* {
  margin: 0;
  padding: 0; }

.w_smBox {
  overflow: hidden; }
  .w_smBox .w_smImg img {
    width: 100%;
    height: 100%; }
  .w_smBox .w_smInput {
    width: 1200px;
    margin: 0 auto; }
    .w_smBox .w_smInput .w_header {
      text-align: center;
      font-size: 24px;
      color: #333;
      margin-top: 60px;
      margin-bottom: 30px; }
    .w_smBox .w_smInput .smTop .w_ipt {
      margin: auto; }
      .w_smBox .w_smInput .smTop .w_ipt .w_smName {
        width:1200px;
        height: 50px;
        margin: auto;
        margin-bottom: 20px; 
        margin-left: 325px;
        }
        .w_smBox .w_smInput .smTop .w_ipt .w_smName .smIpt {
          width: 500px;
          height: 50px;
          outline: none;
          border: none;
          background-color: #eee;
          text-indent: 1em;
          line-height: 50px;
          margin: auto; }
        .w_smBox .w_smInput .smTop .w_ipt .w_smName .w_star {
          display: inline;
          color: #f00;
          font-size: 24px;
          line-height: 50px;
          margin-left: 10px;
          margin-top: 10px; }
          .w_smBox .w_smInput .smTop .w_ipt .w_smName .iam{
          	margin-top: 20px;
          	margin-left: 10px;
          	color: #f00;
          	float: left;
          }
          .w_smBox .w_smInput .smTop .w_ipt .w_jj .t{
          	margin-top: 20px;
          	margin-left: 10px;
          	color: #f00;
          	float: left;
          }
           .w_smBox .w_smInput .he {
      width: 948px !important;
      margin-left: 325px;
      margin-bottom: 20px; }
    .w_smBox .w_smInput .one,
    .w_smBox .w_smInput .two {
      width: 1200px;
      height: 50px;
      margin: auto;
      margin-bottom: 20px;
      margin-left: 325px;
      display: block; }
      .w_smBox .w_smInput .one .yuyan,
      .w_smBox .w_smInput .two .yuyan {
        outline: none;
        border: none; }
        .w_smBox .w_smInput .one .yuyan .w_down,
        .w_smBox .w_smInput .two .yuyan .w_down {
          max-height: 300px;
          overflow: hidden;
          overflow: scroll; }
          .w_smBox .w_smInput .one .yuyan .w_down .w_click > a,
          .w_smBox .w_smInput .two .yuyan .w_down .w_click > a {
            line-height: 50px; }
      .w_smBox .w_smInput .one .yuyan option,
      .w_smBox .w_smInput .two .yuyan option {
        height: 50px;
        line-height: 50px;
        padding: 10px 0; }
      .w_smBox .w_smInput .one .yuyan,
      .w_smBox .w_smInput .one .IDcard,
      .w_smBox .w_smInput .two .yuyan,
      .w_smBox .w_smInput .two .IDcard {
        outline: none;
        border: none;
        width: 500px;
        height: 50px;
        background: #eee;
        margin: auto;
        float: left;
        text-indent: 1em; }
      .w_smBox .w_smInput .one .w_star,
      .w_smBox .w_smInput .two .w_star {
        float: left;
        display: inline;
        color: #f00;
        font-size: 24px;
        line-height: 50px;
        margin-left: 10px;
        margin-top: 10px; }
    .w_smBox .w_smInput .he {
      width: 948px !important;
      margin-left: 325px;
      margin-bottom: 20px; }
      .w_smBox .w_smInput .he .IDcard .w_down .w_click {
        width: 500px; }
        .w_smBox .w_smInput .he .IDcard .w_down .w_click .i {
          height: 49px;
          width: 500px;
          cursor: pointer;
          text-indent: 1em; }
    .w_smBox .w_smInput .w_center .w_smName {
      margin: auto;
      text-align: center; }
      .w_smBox .w_smInput .w_center .w_smName .smIpt {
        width: 500px;
        height: 50px;
        outline: none;
        border: none;
        background-color: #eee;
        text-indent: 1em;
        line-height: 50px;
        margin: auto; }
      .w_smBox .w_smInput .w_center .w_smName .w_star {
        display: inline;
        color: #f00;
        font-size: 24px;
        line-height: 50px;
        margin-left: 10px;
        margin-top: 10px; }
    .w_smBox .w_smInput .w_center .w_tt {
      width: 1200px;
      height: 50px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 325px; }
      .w_smBox .w_smInput .w_center .w_tt .smIpt {
        width: 500px;
        height: 50px;
        background: #eee;
        outline: none;
        border: none;
        text-indent: 1em;
        float: left; }
      .w_smBox .w_smInput .w_center .w_tt .w_star {
        margin-left: 10px;
        float: left; }
        .w_smBox .w_smInput .w_center .w_tt .w_star .w_move {
          display: inline;
          margin-top: 15px;
          float: left;
          cursor: pointer; }
        .w_smBox .w_smInput .w_center .w_tt .w_star .w_yuck {
          display: none;
          float: left;
          margin-top: -7px; }
    .w_smBox .w_smInput .w_center .hz {
      margin-top: 30px;
      width: 1200px;
      height: 72px;
      margin: auto; }
      .w_smBox .w_smInput .w_center .hz .IDcard {
      	margin-left: 325px;
        width: 500px;
        height: 50px;
        background: #eee;
        }
        .w_smBox .w_smInput .w_center .hz .IDcard .w_smhz {
          float: left; }
        .w_smBox .w_smInput .w_center .hz .IDcard .w_smid {
          float: right; }
        .w_smBox .w_smInput .w_center .hz .IDcard .w_smhz,
        .w_smBox .w_smInput .w_center .hz .IDcard .w_smid {
          margin: 15px 40px; }
        .w_smBox .w_smInput .w_center .hz .IDcard .btn {
          width: 501px;
          height: 50px;
          outline: none;
          border: none;
          background: #eee;
          float: left;
          text-align: left; }
          .w_smBox .w_smInput .w_center .hz .IDcard .btn .caret {
            display: inline-block;
            float: right;
            margin-top: 5px; }
        .w_smBox .w_smInput .w_center .hz .IDcard .w_down .w_click {
          color: black;
          width: 500px;
          height: 50px;
          line-height: 50px;
          border-bottom: 1px dashed #eee; }
          .w_smBox .w_smInput .w_center .hz .IDcard .w_down .w_click .i {
            display: inline-block;
            outline: none;
            border: none;
            width: 500px;
            color: black !important;
            line-height: 50px;
            text-decoration: none; }
    .w_smBox .w_smInput .w_center .w_hz {
      width: 1200px;
      margin-left: 325px;
 }
 .w_smBox .w_smInput .w_center .w_hh {
 	width: 500px;
 	text-align: center;
 	margin-left: 325px;
 }
      .w_smBox .w_smInput .w_center .w_hz .w_schz,
      .w_smBox .w_smInput .w_center .w_hh .w_schz {
        margin: auto;
        width: 500px;
        height: 50px;
        background: #eee;
        line-height: 40px;
        border: none;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px; }
    .w_smBox .w_smInput .w_upl {
      width: 400px;
      margin-left: 48px; }
    .w_smBox .w_smInput .w_hh .w_photo {
      float: left; }
      .fan{
      	float: right;
      }
    .w_smBox .w_smInput .w_tjsh {
      margin: auto;
      width: 200px;
      height: 50px;
      color: white;
      font-size: 16px;
      background-color: #003366;
      line-height: 50px;
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 50px;
      outline: none;
      border: none;
      text-align: center;
      margin-left: 478px; }

.w_success {
  display: none;
  z-index: 12;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 267%;
  background: rgba(0, 0, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000); }
  .w_success .w_tjcg {
    width: 715px;
    height: 420px;
    background: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .w_success .w_tjcg p {
      text-align: center; }
    .w_success .w_tjcg .w_dui {
      margin-top: 60px; }
    .w_success .w_tjcg .w_tjwz {
      font-family: "microsoft yahei";
      font-size: 24px;
      color: #333;
      margin-top: 40px;
      margin-bottom: 40px; }
    .w_success .w_tjcg .w_hy {
      margin: 0px 70px;
      line-height: 36px; }
    .w_success .w_tjcg a {
      display: block;
      margin: 0 auto;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 60px;
      cursor: pointer; }
      .w_success .w_tjcg a .w_back {
      	outline: none;
      	border: none;
        display: inline-block;
        width: 180px;
        height: 50px;
        line-height: 50px;
        color: white;
        background: #06c4d2;
        margin: 0 auto;
        text-align: center; }

.w_cyz {
  display: none;
  z-index: 12;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 260%;
  background: rgba(0, 0, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000); }
  .w_cyz .w_cyrz {
    width: 790px;
    height: 332px;
    background: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .w_cyz .w_cyrz .w_kong {
      position: relative; }
      .w_cyz .w_cyrz .w_kong .w_tjwz {
        font-family: "microsoft yahei";
        font-size: 24px;
        color: #333;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center; }
      .w_cyz .w_cyrz .w_kong .w_rzwz {
        margin: 0px 55px;
        margin-top: 30px;
        font-size: 16px;
        color: #333; }
      .w_cyz .w_cyrz .w_kong .t {
        color: #f00; }
      .w_cyz .w_cyrz .w_kong .w_b {
      	outline: none;
      	border: none;
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 60px;
        cursor: pointer; }
        .w_cyz .w_cyrz .w_kong .w_b .w_back {
        	outline: none;
        	border: none;
          display: inline-block;
          width: 300px;
          height: 50px;
          line-height: 50px;
          color: white;
          background: #06c4d2;
          margin: 0 auto;
          text-align: center; }
      .w_cyz .w_cyrz .w_kong .w_rzclose {
        position: absolute;
        top: -30px;
        right: 10px;
        cursor: pointer; }

.w_tzgr {
  display: none;
  z-index: 12;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 268%;
  background: rgba(0, 0, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000); }
  .w_tzgr .w_cyrz {
    width: 790px;
    height: 425px;
    background: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .w_tzgr .w_cyrz .w_kong {
      position: relative; }
      .w_tzgr .w_cyrz .w_kong .w_tjwz {
        font-family: "microsoft yahei";
        font-size: 24px;
        color: #333;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center; }
      .w_tzgr .w_cyrz .w_kong .w_rzwz {
        margin: 0px 55px;
        margin-top: 30px;
        font-size: 16px;
        color: #333; }
        .w_tzgr .w_cyrz .w_kong .w_rzwz .w_fq {
          font-size: 18px;
          color: #06C4D2;
          font-weight: 900; }
      .w_tzgr .w_cyrz .w_kong .t {
        color: #f00; }
      .w_tzgr .w_cyrz .w_kong .w_per {
        line-height: 36px; }
      .w_tzgr .w_cyrz .w_kong .w_b {
      	outline: none;
      	border: none;
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 60px;
        cursor: pointer; }
        .w_tzgr .w_cyrz .w_kong .w_b .w_back {
        	outline: none;
        	border: none;
          display: inline-block;
          width: 300px;
          height: 50px;
          line-height: 50px;
          color: white;
          background: #06c4d2;
          margin: 0 auto;
          text-align: center; }
      .w_tzgr .w_cyrz .w_kong .w_rzclose {
        position: absolute;
        top: -30px;
        right: 10px;
        cursor: pointer; }

.w_tzgrr {
  display: none;
  z-index: 12;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 267%;
  background: rgba(0, 0, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000); }
  .w_tzgrr .w_cyrz {
    width: 790px;
    height: 425px;
    background: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .w_tzgrr .w_cyrz .w_kong {
      position: relative; }
      .w_tzgrr .w_cyrz .w_kong .w_tjwz {
        font-family: "microsoft yahei";
        font-size: 24px;
        color: #333;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center; }
      .w_tzgrr .w_cyrz .w_kong .w_rzwz {
        margin: 0px 55px;
        margin-top: 30px;
        font-size: 16px;
        color: #333; }
        .w_tzgrr .w_cyrz .w_kong .w_rzwz .w_fq {
          font-size: 18px;
          color: #06C4D2;
          font-weight: 900; }
      .w_tzgrr .w_cyrz .w_kong .t {
        color: #f00; }
      .w_tzgrr .w_cyrz .w_kong .w_per {
        line-height: 36px; }
      .w_tzgrr .w_cyrz .w_kong .w_b {
      	outline: none;
      	border: none;
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 60px;
        cursor: pointer; }
        .w_tzgrr .w_cyrz .w_kong .w_b .w_back {
        	outline: none;
        	border: none;
          display: inline-block;
          width: 300px;
          height: 50px;
          line-height: 50px;
          color: white;
          background: #06c4d2;
          margin: 0 auto;
          text-align: center; }
      .w_tzgrr .w_cyrz .w_kong .w_rzclose {
        position: absolute;
        top: -30px;
        right: 10px;
        cursor: pointer; }

.w_zzsc {
  display: none;
  z-index: 12;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 254%;
  background: rgba(0, 0, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000); }
  .w_zzsc .w_sc {
    width: 270px;
    height: 100px;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 100px;
    text-align: center; }
    .w_zzsc .w_sc p img {
      vertical-align: middle; }

.y {
	margin-left:45px;
	margin:auto;
  max-width: 400px;
  max-height: 245px; }

/*# sourceMappingURL=smrz.css.map */
