@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }
  .wzw_dl_tab{
  	border-bottom: 1px solid #ccc;
  }
  .wzw_dl_tab li{
  	width: 50%;
  	float: left;
  	height: 40px;
  	line-height: 40px;
  }
  .wzw_dl_tab li:hover{
  	cursor: pointer;
  }
  .yzm_bor{
  	border-bottom: 3px solid #07c5d3;
  	cursor: pointer;
  }
  .yzm_bor:hover{
  	cursor: pointer;
  }
  .wzw_dl_tab2{
  	position: relative;
  	width: 100%;
  	height: 80px;
  }
  .wzw_dl_tab2>div{
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	display: none;
  }
  .wzw_sryzm>input{
  	float: left;
  	margin: 0;
  	border-bottom-right-radius: 0;
  	border-top-right-radius: 0;
  	border-right: none;
  	background: #ffffff;
  }
  .wzw_sryzm>button{
  	float: right;
  	margin: 0;
  	border: 1px solid #ccc;
  	border-left:1px solid transparent;
  	background: #ffffff;
  	color: #898989;
  	border-bottom-left-radius: 0;
  	border-top-left-radius: 0;
  }
  .carousel-inner .item img{
  	width: 100%;
  }
  .back img{
  	cursor:pointer;
  }
  .wzw_shadowBox{
  	width: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
  	height: 0;
  	z-index: 999;
  	background: rgba(0,0,0,0.5);
  }
  .wzw_shadow_loading{
  	width:250px;
  	height: 120px;
  	display: none;
  	position: fixed;
  	background: #f5f5f5;
  	top: 50%;
  	margin-top: -60px;
  	left: 50%;
  	margin-left: -125px;
  	border-radius: 8px;
  	text-align: center;
  }
  .wzw_shadow_rela{
  	position: relative;
  	top: 0;
  	left: 0;
  	width: 250px;
  	height: 120px;
  }
  .wzw_shadow_posiab{
  	position: absolute;
  	display: none;
  	width: 30px;
  	height: 30px;
  	top:-20px;
  	right: 10px;
  	font-size: 22px;
  	display: inline-block;
  }
  .wzw_shadow_loading img{
  	display: block;
  	margin: 30px auto;
  }
  .wzw_shadow_loading p{
  	font-size: 17px; 	
  }
  .wzw_telyzm{
  	width: 440px;
  }
  .wzw_sryzm{
  	height: 34px;
  	margin: 10px 0;
  }
  .sele_twoul{
  	position: absolute;
  	top: 34px;
  	left: 0;
  	min-width:200px;
  	width: auto;
  	height: 300px;
  	display: none;
  	overflow-y: scroll;
  	background: #fff;
  	border: 1px solid #eee;
  	border-bottom-left-radius:4px;
  	border-bottom-right-radius: 4px;
  }
  .sele_twoul>li{
  	line-height: 34px;
  	height: 34px;
  	border-bottom: 1px solid #ccc;
  }
  #wzw_yzmparent1{
			    background: url('http://ourjs.github.io/static/2015/arrow.png') right center no-repeat; 
			    width: 120px;
			    height: 34px;
			    overflow: hidden;
			    border-radius: 5px;
			    text-align: center;
			    font-size: 16px;
			    border-bottom-right-radius: 0;
			    border-top-right-radius: 0;
			    float: left;	
			    display: inline-block;	
			    margin: 0;
			    text-align: center;	    
			}
			.wzw_telyzm{
				display: inline-block;
				width: 320px;
				margin: 10px 0;
				position: relative;
				border-bottom-left-radius: 0;
			  border-top-left-radius: 0;
				float: right;
			}
			#wzw_yzmparent2{
			    width: 120px;
			    height: 34px;
			    overflow: hidden;
			    border-radius: 5px;
			    text-align: center;
			    font-size: 16px;
			    border-bottom-right-radius: 0;
			    border-top-right-radius: 0;
			    float: left;	
			    display: inline-block;		    
			}
			#wzw_yzmparent3{
			    width: 120px;
			    height: 34px;
			    overflow: hidden;
			    border-radius: 5px;
			    text-align: center;
			    font-size: 16px;
			    border-bottom-right-radius: 0;
			    border-top-right-radius: 0;
			    float: left;	
			    display: inline-block;		    
			}
  #parent1{
			    background: url('http://ourjs.github.io/static/2015/arrow.png') right center no-repeat; 
			    width: 100px;
			    height: 34px;
			    overflow: hidden;
			    border: solid 1px #ccc;
			    border-radius: 5px;
			    font-size: 16px;			    
			}
			
			#parent1 select{
			    -webkit-appearance:none;
			    -moz-appearance:none;
			    appearance:none;
			    background:transparent;
			    border:none;
			    padding-left:10px;
			    width: 120px;
			    height:100%;
			    border-radius: 5px;
			    color: #333;    
			}
			#parent1 select option{
				color: #333333;
			}
			#parent2lang{
			    background: url('http://ourjs.github.io/static/2015/arrow.png') right center no-repeat; 
			    width: 100px;
			    height: 34px;
			    overflow: hidden;
			    border: solid 1px #ccc;
			    border-radius: 5px;
			    font-size: 163px;			    
			}
			
			#parent2lang select{
			    -webkit-appearance:none;
			    -moz-appearance:none;
			    appearance:none;
			    background:transparent;
			    border:none;
			    padding-left:10px;
			    width: 120px;
			    height:100%;
			    border-radius: 5px;
			    color: #333;    
			}
			#parent2lang select option{
				color: #333333;
			}
  .wzw_fxk2{
  	width: 16px;
  	height: 16px;
  	display: inline-block;
  	margin: 22px 0;
  }
  .jindutiao .sp1{
  	color: #2253ab;
  }
  .jindutiao .sp4{
  	color: #999999;
  	position: absolute;
  	top: 0;
  	right: 15px;
  }
  .jindutiao{
  	display: inline-block;
  	position: relative;
  	width: 100%;
  }
.jin_Fu{
				width: 100px;
				height: 6px;
				left: 150px;
				top: 7px;
				border-radius: 4px;
				background: #cccccc;
				display: inline-block;
				position: absolute;
			}
			.jin_1{
				height: 6px;
				width: 0;
				display: inline-block;
				background: #2253ab;
				position: absolute;
				border-radius: 4px;
			}
.wzw_zctk {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
  position: absolute;
  z-index: 998;
  display: none; }
  .wzw_zctk .wzw_zctk_aoto {
    width: 500px;
    position: fixed;
    z-index: 999;
    background: #f5f5f5;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -310px; }
    .wzw_zctk .wzw_zctk_aoto .Close {
      float: right;
      margin-right: 15px;
      margin-top: 15px; }
    .wzw_zctk .wzw_zctk_aoto .zctk_padding {
      height: 100%;
      width: 100%;
      text-align: center;
      font-family: "微软雅黑";
      color: #888888;
      font-size: 14px;
      padding: 87px 30px 60px; }
      .wzw_zctk .wzw_zctk_aoto .zctk_padding .biao {
        margin-bottom: 20px; }
        .wzw_zctk .wzw_zctk_aoto .zctk_padding .biao .sp1 {
          margin: 0 15px; }
      .wzw_zctk .wzw_zctk_aoto .zctk_padding .zc_inp input {
        margin: 10px 0; }
      .wzw_zctk .wzw_zctk_aoto .zctk_padding label {
        display: inline-block;
        float: left;
        color: #888888;
        font-weight: 500;
        -webkit-user-select: none; }
      .wzw_zctk .wzw_zctk_aoto .zctk_padding .zcBtn {
        background: #06c5d2;
        color: white;
        width: 100%;
        margin: 10px 0;
        letter-spacing: 2px; }
      .wzw_zctk .wzw_zctk_aoto .zctk_padding p {
        font-size: 12px;
        color: #999999;
        line-height: 60px;
        font-family: "微软雅黑"; }
        .wzw_zctk .wzw_zctk_aoto .zctk_padding p a {
          color: #003366;
          text-decoration: none; }
      .wzw_zctk .wzw_zctk_aoto .zctk_padding .other2 {
        border-top: 1px solid #dddddd;
        line-height: 60px;
        font-size: 12px;
        font-family: "微软雅黑"; }
        .wzw_zctk .wzw_zctk_aoto .zctk_padding .other2 .a1 {
          color: #666666;
          text-decoration: none; }
        .wzw_zctk .wzw_zctk_aoto .zctk_padding .other2 .a2 {
          color: #003366;
          text-decoration: none; }

.wzw_dltk {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
  position: absolute;
  z-index: 998;
  display: none; }
  .wzw_dltk .wzw_dltk_aoto {
    width: 500px;
    position: fixed;
    z-index: 999;
    background: #f5f5f5;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -200px; }
    .wzw_dltk .wzw_dltk_aoto .Close {
      float: right;
      margin-right: 15px;
      margin-top: 15px; }
    .wzw_dltk .wzw_dltk_aoto .dltk_padding {
      height: 100%;
      width: 100%;
      text-align: center;
      font-family: "微软雅黑";
      color: #888888;
      font-size: 14px;
      padding: 87px 30px 60px; }
      .wzw_dltk .wzw_dltk_aoto .dltk_padding .biao .sp1 {
        margin: 0 15px; }
      .wzw_dltk .wzw_dltk_aoto .dltk_padding .inp {
        margin-top: 20px; }
        .wzw_dltk .wzw_dltk_aoto .dltk_padding .inp form .form-control {
          margin: 10px 0; }
        .wzw_dltk .wzw_dltk_aoto .dltk_padding .inp form label {
          display: inline-block;
          float: left;
          color: #888888;
          margin: 10px 0;
          font-weight: 500;
          -webkit-user-select: none; }
        .wzw_dltk .wzw_dltk_aoto .dltk_padding .inp form a {
          display: inline-block;
          float: right;
          text-decoration: none;
          color: #06C5D2;
          margin: 10px 0; }
        .wzw_dltk .wzw_dltk_aoto .dltk_padding .inp form button {
          width: 160px;
          margin: 10px 0;
          font-size: 16px;
          font-family: "微软雅黑"; }
        .wzw_dltk .wzw_dltk_aoto .dltk_padding .inp form .dengl {
          background: #06C5D2;
          color: white;
          float: left; }
        .wzw_dltk .wzw_dltk_aoto .dltk_padding .inp form .zhuc {
          background: white;
          color: #06C5D2;
          float: right; }
      .wzw_dltk .wzw_dltk_aoto .dltk_padding .other {
        margin-top: 20px;
        padding: 30px 30px 0;
        border-top: 1px dashed #666666; }
        .wzw_dltk .wzw_dltk_aoto .dltk_padding .other span {
          font-size: 12px;
          color: #999999; }
        .wzw_dltk .wzw_dltk_aoto .dltk_padding .other p img {
          margin: 20px 8px 0; }

#box {
  width: 100%; }
  #box .header {
    background: #ffffff;
    height: 80px;
    width: 100%; }
    #box .header .header_nav {
      background: #ffffff;
      height: 80px;
      width: 1200px;
      border: 1px solid #fff;
      margin: 0 auto; }
      #box .header .header_nav ul {
        color: #003366;
        font-size: 16px;
        width: 100%;
        height: 34px;
        margin: 23px 0; }
        #box .header .header_nav ul li {
          float: left;
          height: 34px; }
        #box .header .header_nav ul .header_nav_li1 {
          width: 183px; 
          height: auto;}
          #box .header .header_nav ul .header_nav_li1 img {
            width: 100%;
            height: 46px;
            margin-top: -6px; }
        #box .header .header_nav ul .header_nav_li2 {
         text-align: center;
          width:120px;
          height: 34px;
          line-height: 34px; }
          #box .header .header_nav ul .header_nav_li2 label {
            font-weight: 400; }
            #box .header .header_nav ul .header_nav_li2 label a {
              color: #333333;
              text-decoration: none; }
            #box .header .header_nav ul .header_nav_li2 label a:hover {
              text-decoration: none; }
        #box .header .header_nav ul .header_nav_li3 {
          position: relative;
          width: 300px; }
          #box .header .header_nav ul .header_nav_li3 input {
            border-radius: 15px;
            width: 300px;
            position: absolute;
            height: 100%; }
          #box .header .header_nav ul .header_nav_li3 img {
            position: absolute;
            top: 10px;
            right: 14px; }
        #box .header .header_nav ul .header_nav_li4 {
         width: 300px; 
          text-align: center;}
          #box .header .header_nav ul .header_nav_li4 a {
            color: #333333;
            margin: 20px 15px;
            line-height: 34px;
            text-decoration: none; }
        #box .header .header_nav ul .header_nav_li5 {
          width: 170px;
          text-align: center;
         }
          #box .header .header_nav ul .header_nav_li5 button {
            color: white;
            margin: 0 5px;}
          #box .header .header_nav ul .header_nav_li5 .header_nav_li5_btn1 {
            background: #06c5d2; }
          #box .header .header_nav ul .header_nav_li5 .header_nav_li5_btn2 {
            background: #003366; }
          #box .header .header_nav ul .header_nav_li5 .geren {
            margin: 0 0 0 15px;
            height: 34px;
            position: relative;
            padding: 0; }
            #box .header .header_nav ul .header_nav_li5 .geren .touxaing {
              border: none;
              background: none;
              width: 100%;
              margin: 0;
              padding: 0; }
            #box .header .header_nav ul .header_nav_li5 .geren ul {
              margin: 0;
              background: #003466;
              color: white;
              width: 100%; }
              #box .header .header_nav ul .header_nav_li5 .geren ul li {
                background: #003466;
                width: 100%; }
                #box .header .header_nav ul .header_nav_li5 .geren ul li a {
                  line-height: 28px;
                  color: white;
                  font-size: 14px;
                  display: block;
                  width: 100%; }
              #box .header .header_nav ul .header_nav_li5 .geren ul li:hover {
                background: white; }
                #box .header .header_nav ul .header_nav_li5 .geren ul li:hover a {
                  background: white;
                  color: #003466; }
        #box .header .header_nav ul .header_nav_li6 {
          width: 50px;
          position: relative;
          line-height: 35px; }
          #box .header .header_nav ul .header_nav_li6 a {
            color: #333333;
            text-decoration: none; }
          #box .header .header_nav ul .header_nav_li6 .yuyan2 {
            width: 100%;
            padding: 0;
            margin: 0;
            background: white; }
            #box .header .header_nav ul .header_nav_li6 .yuyan2 button {
              border: none;
              font-size: 16px; }
            #box .header .header_nav ul .header_nav_li6 .yuyan2 button:hover {
              background: none; }
            #box .header .header_nav ul .header_nav_li6 .yuyan2 ul {
              margin: 0;
              padding: 0;
              background: #003466;
              width: 100%; }
              #box .header .header_nav ul .header_nav_li6 .yuyan2 ul li {
                background: #003466 !important;
                width: 100%;
                background: rgba(255, 255, 255, 0.7);
                font-size: 14px; }
                #box .header .header_nav ul .header_nav_li6 .yuyan2 ul li a {
                  color: white; }
                #box .header .header_nav ul .header_nav_li6 .yuyan2 ul li a:hover {
                  color: #003466;
                  background: white; }

#carousel-example-generic .otherBanner img {
  width: 100%; }
#carousel-example-generic .yuyan_posi {
  position: absolute;
  top: 0;
  width: 1200px;
  left: 50%;
  margin-left: -600px;
  z-index: 5; }
  #carousel-example-generic .yuyan_posi ul {
    width: 100px;
    float: right;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin-right: 20px; }
    #carousel-example-generic .yuyan_posi ul li {
      border-bottom: 1px solid white; }
#carousel-example-generic .left {
  background: none; }
#carousel-example-generic .right {
  background: none; }
#carousel-example-generic .page {
  position: absolute;
  width: 180px;
  height: 50px;
  top: 34%;
  left: 19%; }
  #carousel-example-generic .page span {
    color: white;
    font-style: italic; }
  #carousel-example-generic .page .span1 {
    font-size: 36px;
    font-weight: 900; }
#carousel-example-generic .Controls {
  position: absolute;
  width: 60px;
  height: 50px;
  bottom: 90px;
  left: 22%;
  margin-left: -30px; }
#carousel-example-generic .banner_posi {
  width: 1200px;
  position: absolute;
  bottom: 0;
  left: 50%;
  line-height: 50px;
  margin-left: -600px; }
  #carousel-example-generic .banner_posi a {
    float: right;
    height: 50px;
    text-decoration: none;
    margin-right: 10px;
    padding: 0 50px;
    background: rgba(102, 102, 102, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F404139,endColorstr=#7F404139);
    color: white;
    border: none; }
#carousel-example-generic .faxianClickShow {
  position: absolute;
  width: 100%;
  padding-bottom: 50px;
  display: none;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid #CCCCCC;
  background: rgba(18, 43, 35, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF184235,endColorstr=#BF184235); }
  #carousel-example-generic .faxianClickShow .ShowAuto {
    width: 1200px;
    margin: 0 auto; }
    #carousel-example-generic .faxianClickShow .ShowAuto .ImgHover ul {
      padding-top: 60px;
      height: 165px; }
      #carousel-example-generic .faxianClickShow .ShowAuto .ImgHover ul li {
        float: left;
        margin: 0 9px;
        width: 180px;
        box-sizing: border-box;
        height: 105px;
        cursor: pointer;
        border: 1px solid white;
        position: relative; }
        #carousel-example-generic .faxianClickShow .ShowAuto .ImgHover ul li span {
          display: inline-block;
          color: white;
          z-index: 2000;
          font-size: 18px;
          position: absolute;
          top: 50%;
          left: 10%; }
        #carousel-example-generic .faxianClickShow .ShowAuto .ImgHover ul li .muhuImg_posi {
          position: absolute;
          /* width: 100%; */
          height: 104px;
          right: 0;
          display: none;
          top: 0; }
          #carousel-example-generic .faxianClickShow .ShowAuto .ImgHover ul li .muhuImg_posi img {
            width: 100%;
            height: 97px; }
        #carousel-example-generic .faxianClickShow .ShowAuto .ImgHover ul li .border_bottom {
          position: absolute;
          bottom: -2px;
          width: 36px;
          left: 10%;
          border: 2px solid #04c5cf; }
    #carousel-example-generic .faxianClickShow .ShowAuto .showTwo {
      margin-top: 40px; }
      #carousel-example-generic .faxianClickShow .ShowAuto .showTwo .showTwo_right {
        width: 50%;
        float: right;
        text-align: right; }
        #carousel-example-generic .faxianClickShow .ShowAuto .showTwo .showTwo_right a {
          font-size: 14px;
          color: #fefeff;
          margin-right: 15px;
          display: inline-block;
          text-decoration: none; }

.cont_lunbo {
  width: 100%;
  height: 600px;
  position: relative; }
  .cont_lunbo .wrapper {
    position: relative;
    width: 100%;
    height: 600px; }
    .cont_lunbo .wrapper .slide1 {
      display: none;
      width: 100%;
      height: 600px;
      position: absolute;
      top: 0;
      left: 0; }
      .cont_lunbo .wrapper .slide1 img {
        width: 100%;
        height: 100%; }
  .cont_lunbo .page2 {
    position: absolute;
    width: 100px;
    bottom: 110px; }
    .cont_lunbo .page2 div {
      float: left;
      width: 50%;
      height: 50px;
      text-align: center;
      line-height: 50px;
      color: red; }

.box3 {
  background: #ffffff; }
  .box3 .box_three {
    width: 1200px;
    height: 400px;
    margin: 25px auto;
    position: relative;
    display: none; }
    .box3 .box_three ul {
      width: 1080px;
      margin: 0 auto;
      margin: 0 auto; }
      .box3 .box_three ul li {
        float: left;
        width: 360px;
        position: relative;
        height: 120px; 
        cursor: pointer;}
        .box3 .box_three ul li .iconTwo {
        	max-height: 60px;
          max-width: 180px;
          width: auto;
          display:block;
          text-align: center;
          height: auto;
          margin: 30px auto; }
        .box3 .box_three ul li .posi_ab {
          position: absolute;
          width: 100%;
          display: none;
          height: 400px;
          top: 0;
          z-index: 999;
          background: #fff;
          padding: 25px;
          box-shadow: 1px 1px 15px #06c5d2; }
          .box3 .box_three ul li .posi_ab .posi_ul .posi_li1 {
            height: 70px;
            padding-bottom: 25px;
            border-bottom: 1px solid #ccc; }
            .box3 .box_three ul li .posi_ab .posi_ul .posi_li1 div {
              float: left;
              width: 50%;
              height: 45px; }
            .box3 .box_three ul li .posi_ab .posi_ul .posi_li1 .posi_li1_left {
              text-align: center; }
              .box3 .box_three ul li .posi_ab .posi_ul .posi_li1 .posi_li1_left .posi_img {
              	width: auto;
              	height: auto;
                max-width: 120px;
                max-height:40px; 
                float: left;
              }
            .box3 .box_three ul li .posi_ab .posi_ul .posi_li1 .posi_li1_right {
              overflow: hidden;
              text-align: right; }
              .box3 .box_three ul li .posi_ab .posi_ul .posi_li1 .posi_li1_right span {
                display: block;
                color: #2253ab;
                white-space: nowrap;
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                overflow: hidden; }
          .box3 .box_three ul li .posi_ab .posi_ul .posi_li2 {
            padding: 15px 0;
            color: #2253AB;
            height: 50px;
            border-bottom: 1px solid #ccc; }
            .box3 .box_three ul li .posi_ab .posi_ul .posi_li2 p span{
            	display: inline-block;
            	width: 130px;
            	margin-right: 20px;
            }
            .box3 .box_three ul li .posi_ab .posi_ul .posi_li2 div {
              float: left;
              height: 50px; }
          .box3 .box_three ul li .posi_ab .posi_ul .posi_li3 {
            padding: 5px 0;
            border-bottom: 1px solid #ccc;
            height: 185px;
            overflow: hidden; }
            .box3 .box_three ul li .posi_ab .posi_ul .posi_li3 p {
              white-space: nowrap;
              text-overflow: ellipsis;
              -o-text-overflow: ellipsis;
              overflow: hidden;
              line-height: 20px; }
              .box3 .box_three ul li .posi_ab .posi_ul .posi_li3 p .sp1 {
                color: #2253AB;
                width: 130px;
                max-width: 120px;
                display: inline-block; }
              .box3 .box_three ul li .posi_ab .posi_ul .posi_li3 p .sp2 {
                color: #999999;
                margin-left: 30px; }
          .box3 .box_three ul li .posi_ab .posi_ul .posi_li4 {
            padding: 5px 0;
            height: 60px;
            /*overflow: hidden; */}
            .box3 .box_three ul li .posi_ab .posi_ul .posi_li4 p {
              white-space: nowrap;
              text-overflow: ellipsis;
              -o-text-overflow: ellipsis;
              overflow: hidden;
              line-height: 20px; }
              .box3 .box_three ul li .posi_ab .posi_ul .posi_li4 p .sp1 {
                color: #2253AB;
                width:130px;
                display: inline-block; }
                .box3 .box_three ul li .posi_ab .posi_ul .posi_li4 div .sp1 {
                color: #2253AB;
                width:150px;
                display: inline-block; }
              .box3 .box_three ul li .posi_ab .posi_ul .posi_li4 p .sp2 {
                color: #999999;
                margin-left: 20px; }
              .box3 .box_three ul li .posi_ab .posi_ul .posi_li4 p .sp3 {
                display: inline-block;
                width: 110px;
                height: 6px;
                border-radius: 4px;
                border: 1px solid; }
              .box3 .box_three ul li .posi_ab .posi_ul .posi_li4 p .sp4 {
                margin-left: 10px;
                color: #2253AB; }
    .box3 .box_three #btn_img {
      position: absolute;
      top: 50%;
      margin-top: -16px; }
  .box3 .box_three_two {
    width: 1200px;
    height: 490px;
    margin: 25px auto; }
    .box3 .box_three_two ul {
      width: 100%;
      height: 100%;
      position: relative; }
      .box3 .box_three_two ul li {
        float: left;
        width: 585px;
        height: 230px;
        position: relative; }
        .box3 .box_three_two ul li .img_chu {
          position: absolute;
          width: 100%;
          top: 0; }
        .box3 .box_three_two ul li .box_three_two_posiimg {
          position: absolute;
          width: 100%;
          top: 0; }
        .box3 .box_three_two ul li .box_three_two_posi {
          position: absolute;
          width: 390px;
          height: 150px;
          top: 40px;
          left: 40px;
          box-sizing: border-box;
          padding: 20px;
          color: white;
          z-index: 4; }
          .box3 .box_three_two ul li .box_three_two_posi h3 {
            display: inline-block;
            padding-bottom: 15px;
            border-bottom: 1px solid white; }
        .box3 .box_three_two ul li .box_three_two_posi2 {
          position: absolute;
          width: 390px;
          height: 150px;
          top: 40px;
          z-index: 4;
          right: 40px;
          text-align: right;
          box-sizing: border-box;
          padding: 20px;
          color: white; }
          .box3 .box_three_two ul li .box_three_two_posi2 h3 {
            display: inline-block;
            padding-bottom: 15px;
            border-bottom: 1px solid white; }
      .box3 .box_three_two ul .box_three_two_li2 {
        margin-left: 30px; }
      .box3 .box_three_two ul .box_three_two_li3 {
        margin-top: 30px; }
      .box3 .box_three_two ul .box_three_two_li4 {
        margin-top: 30px;
        margin-left: 30px; }
      .box3 .box_three_two ul .zhong {
        position: absolute;
        top: 50%;
        right: 50%;
        margin-top: -185px;
        margin-right: -183px;
        z-index: 5; }
      .box3 .box_three_two ul .zhong2 {
        z-index: 6;
        position: absolute;
        top: 50%;
        right: 50%;
        margin-top: -15px;
        margin-right: -92px; }
  .box3 .wzw_jia {
    width: 100%; }
    .box3 .wzw_jia .wzw_jiason {
      width: 1200px;
      margin: 0 auto;
      padding: 40px 0 60px; }
      .box3 .wzw_jia .wzw_jiason ul {
        width: 1200px;
        margin: 0 auto; }
        .box3 .wzw_jia .wzw_jiason ul li {
          text-align: center;
          float: left;
          width: 400px;
          padding: 0 20px; }
          .box3 .wzw_jia .wzw_jiason ul li img {
            height: 70px; }
          .box3 .wzw_jia .wzw_jiason ul li span {
            display: block; }
          .box3 .wzw_jia .wzw_jiason ul li .sp1 {
            font-size: 18px;
            color: #003366;
            padding: 30px 0; }
          .box3 .wzw_jia .wzw_jiason ul li .sp2 {
            font-size: 14px;
            color: #333333; }

.box4 {
  background: #f5f5f5;
  /*height: 780px; */}
  .box4 .boxZhong {
    width: 1200px;
    /*height: 780px;*/
    margin: 0 auto; }
    .box4 .boxZhong .box4_bt {
      width: 180px;
      margin: 0 auto; }
      .box4 .boxZhong .box4_bt p {
        font-size: 25px;
        color: #2253AB;
        padding: 60px 0; }
    .box4 .boxZhong .boxZhong_left {
      width: 590px;
      float: left; }
      .box4 .boxZhong .boxZhong_left .boxZhong_left_top {
        height: 240px;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
        border: 1px solid #ccc; }
        .box4 .boxZhong .boxZhong_left .boxZhong_left_top .boxZhong_left_top_right {
          float: left;
          width: 260px;
          height: 240px;
          position: relative; 
          overflow: hidden;
        }
          .box4 .boxZhong .boxZhong_left .boxZhong_left_top .boxZhong_left_top_right img {
            width: 100%; }
          .box4 .boxZhong .boxZhong_left .boxZhong_left_top .boxZhong_left_top_right .time {
            position: absolute;
            top: 0;
            left: 40px;
            width: 65px;
            height: 65px;
            border-bottom-left-radius: 9px;
            border-bottom-right-radius: 9px;
            text-align: center;
            background: #fec101; }
            .box4 .boxZhong .boxZhong_left .boxZhong_left_top .boxZhong_left_top_right .time span {
              display: block;
              color: white; }
            .box4 .boxZhong .boxZhong_left .boxZhong_left_top .boxZhong_left_top_right .time .sp1 {
              font-size: 18px; }
            .box4 .boxZhong .boxZhong_left .boxZhong_left_top .boxZhong_left_top_right .time .sp2 {
              font-size: 28px; }
        .box4 .boxZhong .boxZhong_left .boxZhong_left_top .boxZhong_left_top_left {
          float: left;
          width: 328px;
          height: 240px;
          box-sizing: border-box;
          padding: 50px 20px 20px;
          position: relative; }
          .box4 .boxZhong .boxZhong_left .boxZhong_left_top .boxZhong_left_top_left .p1 {
            font-size: 20px;
            color: #2253AB;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 38px; }
          .box4 .boxZhong .boxZhong_left .boxZhong_left_top .boxZhong_left_top_left .p2 {
            font-size: 14px;
            color: #999999;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 30px; }
          .box4 .boxZhong .boxZhong_left .boxZhong_left_top .boxZhong_left_top_left .p3 {
            font-size: 16px;
            color: #ccc;
            text-align: right;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top: 60px; }
            .box4 .boxZhong .boxZhong_left .boxZhong_left_top .boxZhong_left_top_left .p3 span {
              margin-right: 10px; }
          .box4 .boxZhong .boxZhong_left .boxZhong_left_top .boxZhong_left_top_left .img2 {
            position: absolute;
            top: 50%;
            margin-top: -7px;
            left: 0; }
      .box4 .boxZhong .boxZhong_left .boxZhong_left_bottom {
        height: 240px;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
        border: 1px solid #ccc;
        margin-top: 20px; }
        .box4 .boxZhong .boxZhong_left .boxZhong_left_bottom .boxZhong_left_top_right {
          float: left;
          width: 260px;
          height: 240px;
          position: relative; 
          overflow: hidden;
        }

        .box4 .boxZhong .boxZhong_left .boxZhong_left_bottom .boxZhong_left_top_right img{
         width: 100%;
        }
          .box4 .boxZhong .boxZhong_left .boxZhong_left_bottom .boxZhong_left_top_right .time {
            position: absolute;
            top: 0;
            left: 40px;
            width: 65px;
            height: 65px;
            border-bottom-left-radius: 9px;
            border-bottom-right-radius: 9px;
            text-align: center;
            background: #fec101; }
            .box4 .boxZhong .boxZhong_left .boxZhong_left_bottom .boxZhong_left_top_right .time span {
              display: block;
              color: white; }
            .box4 .boxZhong .boxZhong_left .boxZhong_left_bottom .boxZhong_left_top_right .time .sp1 {
              font-size: 18px; }
            .box4 .boxZhong .boxZhong_left .boxZhong_left_bottom .boxZhong_left_top_right .time .sp2 {
              font-size: 28px; }
        .box4 .boxZhong .boxZhong_left .boxZhong_left_bottom .boxZhong_left_top_left {
          float: left;
          width: 328px;
          height: 240px;
          box-sizing: border-box;
          padding: 50px 20px 20px;
          position: relative; }
          .box4 .boxZhong .boxZhong_left .boxZhong_left_bottom .boxZhong_left_top_left .p1 {
            font-size: 20px;
            color: #2253AB;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 38px; }
          .box4 .boxZhong .boxZhong_left .boxZhong_left_bottom .boxZhong_left_top_left .p2 {
            font-size: 14px;
            color: #999999;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 30px; }
          .box4 .boxZhong .boxZhong_left .boxZhong_left_bottom .boxZhong_left_top_left .p3 {
            font-size: 16px;
            color: #ccc;
            text-align: right;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top: 60px; }
            .box4 .boxZhong .boxZhong_left .boxZhong_left_bottom .boxZhong_left_top_left .p3 span {
              margin-right: 10px; }
          .box4 .boxZhong .boxZhong_left .boxZhong_left_bottom .boxZhong_left_top_left .img2 {
            position: absolute;
            top: 50%;
            margin-top: -7px;
            left: 0; }
    .box4 .boxZhong .boxZhong_right {
      width: 590px;
      float: left;
      margin-left: 20px;
      border: 1px solid #ccc;
      border-radius: 9px; }
      .box4 .boxZhong .boxZhong_right .boxZhong_right_top {
        height: 310px;
        width: 100%;
        position: relative; }
        .box4 .boxZhong .boxZhong_right .boxZhong_right_top .news2 {
          width: 100%;
          height: 100%; }
        .box4 .boxZhong .boxZhong_right .boxZhong_right_top .time {
          position: absolute;
          top: 0;
          left: 40px;
          width: 65px;
          height: 65px;
          border-bottom-left-radius: 9px;
          border-bottom-right-radius: 9px;
          text-align: center;
          background: #fec101; }
          .box4 .boxZhong .boxZhong_right .boxZhong_right_top .time span {
            display: block;
            color: white; }
          .box4 .boxZhong .boxZhong_right .boxZhong_right_top .time .sp1 {
            font-size: 18px; }
          .box4 .boxZhong .boxZhong_right .boxZhong_right_top .time .sp2 {
            font-size: 28px; }
      .box4 .boxZhong .boxZhong_right .boxZhong_right_bottom {
        float: left;
        width: 590px;
        height: 190px;
        box-sizing: border-box;
        padding: 20px 20px 20px 50px;
        position: relative; }
        .box4 .boxZhong .boxZhong_right .boxZhong_right_bottom .p1 {
          font-size: 20px;
          color: #2253AB;
          white-space: nowrap;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          overflow: hidden;
          line-height: 38px; }
        .box4 .boxZhong .boxZhong_right .boxZhong_right_bottom .p2 {
          font-size: 14px;
          color: #999999;
          white-space: nowrap;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          overflow: hidden;
          line-height: 30px; }
        .box4 .boxZhong .boxZhong_right .boxZhong_right_bottom .p3 {
          font-size: 16px;
          color: #ccc;
          text-align: right;
          white-space: nowrap;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-top: 40px; }
          .box4 .boxZhong .boxZhong_right .boxZhong_right_bottom .p3 span {
            margin-right: 10px; }
    .box4 .boxZhong .box4_kong {
      height: 20px; }
    .box4 .boxZhong .box4_more {
      text-align: right;
      height: 100px;
      clear: both;
      line-height: 100px; }
      .box4 .boxZhong .box4_more a {
        color: #2253AB;
        lline-height: 100px;
        text-decoration: none; }

.footer {
  background: #ffffff; }
  .footer .foot {
    width: 1200px;
    margin: 0 auto;
    height: 360px;
    box-sizing: border-box;
    padding: 50px 0; }
    .footer .foot .foot_left {
      width: 800px;
      float: left;
      padding: 0 60px; }
      .footer .foot .foot_left table tr{
      	position: relative;
      }
      .footer .foot .foot_left table tr th {
        width: 170px;
        height: 50px;
        font-size: 16px;
        color: #333;
        text-align: center; }
      .footer .foot .foot_left table tr td {
        width: 170px;
        height: 30px;
        font-size: 12px;
        color: #888;
        text-align: center; }
        .footer .foot .foot_left table tr td a {
          text-decoration: none;
          color: #888;
          display: block;
          line-height: 30px; }
      .footer .foot .foot_left table tr .enyuyan {
        position: relative; }
        .footer .foot .foot_left table tr .enyuyan #parent2lang {
          position: absolute;
          text-align: center;
          top: 0;
          left: 50%;
          margin-left: -60px;
          display: inline-block;
          font-size: 12px; }
          .footer .foot .foot_left table tr .enyuyan .yuyan button {
            font-size: 12px;
            border: none; }
          .footer .foot .foot_left table tr .enyuyan .yuyan ul li {
            font-size: 12px; }
    .footer .foot .foot_right {
      width: 400px;
      float: left;
      height: 260px;
      border-left: 1px solid #d9d9d9;
      text-align: center;
      padding-top: 20px; }
     .footer .foot .foot_right .p2 {
       margin-top: 30px; }
       .footer .foot .foot_right .p2 a{
       margin: 5px; }
      .footer .foot .foot_right .p3 a {
      	margin: 5px;
         }
  .footer .foot2 {
    height: 74px;
    background: #f5f5f5; }
    .footer .foot2 .foot2_zhong {
    	text-align: center;
      width: 1200px;
      height: 74px;
      margin: 0 auto; }
      .footer .foot2 .foot2_zhong div {
        /*float: left; */}
      .footer .foot2 .foot2_zhong .footImgTwo {
        width: 120px;
        height: 40px;
        display: inline-block;
        margin-left: 24px;
        margin-top: 17px; }
        .footer .foot2 .foot2_zhong .footImgTwo img {
          width: 100%; }
      .footer .foot2 .foot2_zhong .footThree {
        height: 74px; 
        display: inline-block;}
        .footer .foot2 .foot2_zhong .footThree a {
          color: #666;
          font-size: 12px;
          text-decoration: none;
          margin-left: 30px;
          line-height: 74px; }
      .footer .foot2 .foot2_zhong .footFour {
      	display: inline-block;
      	margin: 0 30px;
        height: 74px; }
        .footer .foot2 .foot2_zhong .footFour p {
          font-size: 12px;
          color: #666;
          margin: 0;
          display: inline-block;
          line-height: 74px; }
          .footer .foot2 .foot2_zhong .footFour p img {
            margin: 0 7px; }
            .footFour>p>span{
            	margin-left: 30px;
            }

.back {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 100px;
  right: 70px;
  display: none; }
  .back img {
    width: 100%; }

a {
  text-decoration: none; }

.wzw_wangj {
  background: #ffffff; }
  .wzw_wangj .wzw_wangj_Auto {
    padding: 30px 0;
    border-bottom: 1px solid #dddddd;
    width: 1200px;
    margin: 0 auto; }
    .wzw_wangj .wzw_wangj_Auto h3 {
      font-size: 20px;
      font-family: "微软雅黑";
      color: #333333; }
    .wzw_wangj .wzw_wangj_Auto p {
      font-size: 14px;
      color: #333333;
      font-family: "微软雅黑";
      margin: 15px 0; }
      .wzw_wangj .wzw_wangj_Auto p input {
        width: 330px;
        height: 45px;
        display: inline-block; }
      .wzw_wangj .wzw_wangj_Auto p .btn2 {
        background: #06c4d2;
        color: white;
        margin-left: 10px;
        width: 330px;
        font-family: "微软雅黑";
        font-size: 14px;
        height: 45px;
        border-color: #dddddd; }

.footThree a:hover {
  color: #003366 !important; }
.wzw_box4_left{
	width: 730px;
	height: 540px;
	float: left;
}
.wzw_box4_right{
	width: 450px;
	height: 540px;
	float: right;
	border-radius: 4px;
	border: 1px solid #cccccc;
}
.wzw_box4_left_top{
	height: 260px;
	border: 1px solid #cccccc;
	border-radius: 4px;
}
.wzw_box4_left_bottom{
	height: 260px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	margin-top: 20px;
}
.wzw_box4_left_top_left{
	width: 360px;
	height: 100%;
	float: left;
	position: relative;
}
.wzw_box4_left_top_left_posi1{
	position: absolute;
	top: 0;
	left: 50px;
	background: #fec101;
	width: 65px;
	height: 65px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	color: white;
	text-align: center;
}
.wzw_box4_left_top_left_posi1 .sp1{
	font-size: 18px;
	display: block;
}
.wzw_box4_left_top_left_posi1 .sp2{
	font-size: 28px;
	display: block;
}
.wzw_box4_left_top_left_posi2{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}
.wzw_box4_left_top_right{
	width: 368px;
	float: right;
	height: 100%;
}
.wzw_box4_left_top_right_top{
	height: 200px;
	padding: 50px 5px;
	line-height: 50px;
}
.wzw_box4_left_top_right_top .sp1{
	display: block;
	font-size: 20px;
	color: #003366;
}
.wzw_box4_left_top_right_top .sp2{
	display: block;
	font-size: 16px;
	color: #999999;
}
.wzw_box4_left_top_right_bottom{
	height: 60px;
	line-height: 60px;
	color: #cccccc;
	padding: 0 20px;
	font-size: 16px;
	text-align: right;
}
.wzw_box4_right_top{
	position: relative;
	width: 100%;
	height: 325px;
}
.wzw_box4_left_top_left_posi3{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}
.wzw_box4_right_bottom_top{
	height:155px;
	padding: 27px 30px;
	line-height: 50px;
}
.wzw_box4_right_bottom_top .sp1{
	display: block;
	font-size: 20px;
	color: #003366;
}
.wzw_box4_right_bottom_top .sp2{
	display: block;
	font-size: 16px;
	color: #999999;
}
.wzw_box4_left_top_left .leftimg{
	width: 100%;
	height: 100%;
}
.wzw_box4_right_top .leftimg{
	width: 100%;
	height: 100%;
}
.wzw_zixun_Btn{
	text-align: right;
	padding: 10px 10px 30px;
}
.wzw_zixun_Btn button{
	margin: 5px;
}
.wzw_zixun_Btn span{
	display: inline-block;
	height: 34px;
	line-height: 34px;
	margin:0 5px;
}
.wzw_zixun_Btn .on{
	border: 1px dashed #cccccc;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
}
.foot_right .p5{
	font-size: 18px;
	color: #666;
}
.touxiang_raidus{
	display: inline-block;
	width: 34px;
	height: 34px;
	overflow: hidden;
	text-align: center;
	border-radius: 50%;
}
.caret{
	position: absolute;
	top: 50%;
	margin-top: -2.5px;
}
.touxiang_raidus img{
	width: 100%;
	height: 100%;
}
.wzw_more1{
	margin:0 5px;
}
.padding_attr{
	height: 200px;
	padding: 20px 5px !important;
	line-height: 30px !important;
	overflow: hidden;
}
/*# sourceMappingURL=style.css.map */
